# This should go:
# /etc/systemd/system/gunicorn.service

# Reference
# http://docs.gunicorn.org/en/stable/deploy.html#nginx-configuration


[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=root
Group=root
WorkingDirectory=/home/ubuntu/my_webapp

ExecStart=/home/ubuntu/anaconda3/bin/gunicorn --pid /run/gunicorn/pid app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
